ingestion via ui  to datahub-rest sink is not working 

Hi All,

I am trying to execute below yml from ui to get metadata from my sql to datahubrest sink  .   

 
source:
    type: mysql
    config:
        host_port: 'xx.xxx.xx.33:3306'
        database: XXXXX
        username: xxxxxxx
        password: xxxxxxxx
        schema_pattern:
            ignoreCase: true
        table_pattern:
            ignoreCase: true
        include_tables: true
        include_views: true
        profiling:
            enabled: false
sink:
    type: datahub-rest
    config:
        server: 'http://localhost:8080'


using cli 👍🏽 as **python3 -m datahub ingest -c Desktop\\mysql_source.yml**  its working fine 

with ui 👎🏽  And I am facing an error saying ingestionjob failed  with below trace . 


 Failed to "
           "establish a new connection: [Errno 111] Connection refused')': /config\n"
           '[2022-02-23 14:00:18,057] WARNING  {urllib3.connectionpool:810} - Retrying (Retry(total=1, connect=None, read=None, redirect=None, '
           "status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fb9c1f15fd0>: Failed to "
           "establish a new connection: [Errno 111] Connection refused')': /config\n"
           '[2022-02-23 14:00:26,067] WARNING  {urllib3.connectionpool:810} - Retrying (Retry(total=0, connect=None, read=None, redirect=None, '
           "status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fb9c1eb61f0>: Failed to "
           "establish a new connection: [Errno 111] Connection refused')': /config\n"
           '[2022-02-23 14:00:26,321] ERROR    {datahub.entrypoints:119} - File '
           '"/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connection.py", line 174, in '
           '_new_conn\n'
           '    161  def _new_conn(self):\n'
           ' (...)\n'
           '    170      if self.socket_options:\n'
           '    171          extra_kw["socket_options"] = self.socket_options\n'
           '    172  \n'
           '    173      try:\n'
           '--> 174          conn = connection.create_connection(\n'
           '    175              (self._dns_host, self.port), self.timeout, **extra_kw\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/util/connection.py", line 95, in '
           'create_connection\n'
           '    37   def create_connection(\n'
           '    38       address,\n'
           '    39       timeout=socket._GLOBAL_DEFAULT_TIMEOUT,\n'
           '    40       source_address=None,\n'
           '    41       socket_options=None,\n'
           '    42   ):\n'
           ' (...)\n'
           '    91                   sock.close()\n'
           '    92                   sock = None\n'
           '    93   \n'
           '    94       if err is not None:\n'
           '--> 95           raise err\n'
           '    96   \n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/util/connection.py", line 85, in '
           'create_connection\n'
           '    37   def create_connection(\n'
           '    38       address,\n'
           '    39       timeout=socket._GLOBAL_DEFAULT_TIMEOUT,\n'
           '    40       source_address=None,\n'
           '    41       socket_options=None,\n'
           '    42   ):\n'
           ' (...)\n'
           '    81               if timeout is not socket._GLOBAL_DEFAULT_TIMEOUT:\n'
           '    82                   sock.settimeout(timeout)\n'
           '    83               if source_address:\n'
           '    84                   sock.bind(source_address)\n'
           '--> 85               sock.connect(sa)\n'
           '    86               return sock\n'
           '\n'
           'ConnectionRefusedError: [Errno 111] Connection refused\n'
           '\n'
           'While handling the above exception, another exception occurred:\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 703, in '
           'urlopen\n'
           '    522  def urlopen(\n'
           '    523      self,\n'
           '    524      method,\n'
           '    525      url,\n'
           '    526      body=None,\n'
           '    527      headers=None,\n'
           '    528      retries=None,\n'
           '    529      redirect=True,\n'
           '    530      assert_same_host=True,\n'
           '    531      timeout=_Default,\n'
           '    532      pool_timeout=None,\n'
           '    533      release_conn=None,\n'
           '    534      chunked=False,\n'
           '    535      body_pos=None,\n'
           '    536      **response_kw\n'
           '    537  ):\n'
           ' (...)\n'
           '    699          if is_new_proxy_conn and http_tunnel_required:\n'
           '    700              self._prepare_proxy(conn)\n'
           '    701  \n'
           '    702          # Make the request on the httplib connection object.\n'
           '--> 703          httplib_response = self._make_request(\n'
           '    704              conn,\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 398, in '
           '_make_request\n'
           '    361  def _make_request(\n'
           '    362      self, conn, method, url, timeout=_Default, chunked=False, **httplib_request_kw\n'
           '    363  ):\n'
           ' (...)\n'
           '    394      try:\n'
           '    395          if chunked:\n'
           '    396              conn.request_chunked(method, url, **httplib_request_kw)\n'
           '    397          else:\n'
           '--> 398              conn.request(method, url, **httplib_request_kw)\n'
           '    399  \n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connection.py", line 239, in '
           'request\n'
           '    231  def request(self, method, url, body=None, headers=None):\n'
           ' (...)\n'
           '    235          # Avoid modifying the headers passed into .request()\n'
           '    236          headers = headers.copy()\n'
           '    237      if "user-agent" not in (six.ensure_str(k.lower()) for k in headers):\n'
           '    238          headers["User-Agent"] = _get_default_user_agent()\n'
           '--> 239      super(HTTPConnection, self).request(method, url, body=body, headers=headers)\n'
           '\n'
           'File "/usr/local/lib/python3.9/http/client.py", line 1285, in request\n'
           '    1282  def request(self, method, url, body=None, headers={}, *,\n'
           '    1283              encode_chunked=False):\n'
           '    1284      """Send a complete request to the server."""\n'
           '--> 1285      self._send_request(method, url, body, headers, encode_chunked)\n'
           '\n'
           'File "/usr/local/lib/python3.9/http/client.py", line 1331, in _send_request\n'
           '    1287  def _send_request(self, method, url, body, headers, encode_chunked):\n'
           ' (...)\n'
           '    1327      if isinstance(body, str):\n'
           '    1328          # RFC 2616 Section 3.7.1 says that text default has a\n'
           '    1329          # default charset of iso-8859-1.\n'
           "    1330          body = _encode(body, 'body')\n"
           '--> 1331      self.endheaders(body, encode_chunked=encode_chunked)\n'
           '\n'
           'File "/usr/local/lib/python3.9/http/client.py", line 1280, in endheaders\n'
           '    1269  def endheaders(self, message_body=None, *, encode_chunked=False):\n'
           ' (...)\n'
           '    1276      if self.__state == _CS_REQ_STARTED:\n'
           '    1277          self.__state = _CS_REQ_SENT\n'
           '    1278      else:\n'
           '    1279          raise CannotSendHeader()\n'
           '--> 1280      self._send_output(message_body, encode_chunked=encode_chunked)\n'
           '\n'
           'File "/usr/local/lib/python3.9/http/client.py", line 1040, in _send_output\n'
           '    1031  def _send_output(self, message_body=None, encode_chunked=False):\n'
           ' (...)\n'
           '    1036      """\n'
           '    1037      self._buffer.extend((b"", b""))\n'
           '    1038      msg = b"\\r\\n".join(self._buffer)\n'
           '    1039      del self._buffer[:]\n'
           '--> 1040      self.send(msg)\n'
           '    1041  \n'
           '\n'
           'File "/usr/local/lib/python3.9/http/client.py", line 980, in send\n'
           '    972  def send(self, data):\n'
           ' (...)\n'
           '    976      """\n'
           '    977  \n'
           '    978      if self.sock is None:\n'
           '    979          if self.auto_open:\n'
           '--> 980              self.connect()\n'
           '    981          else:\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connection.py", line 205, in '
           'connect\n'
           '    204  def connect(self):\n'
           '--> 205      conn = self._new_conn()\n'
           '    206      self._prepare_conn(conn)\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connection.py", line 186, in '
           '_new_conn\n'
           '    161  def _new_conn(self):\n'
           ' (...)\n'
           '    182              % (self.host, self.timeout),\n'
           '    183          )\n'
           '    184  \n'
           '    185      except SocketError as e:\n'
           '--> 186          raise NewConnectionError(\n'
           '    187              self, "Failed to establish a new connection: %s" % e\n'
           '\n'
           '---- (full traceback above) ----\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 703, in '
           'urlopen\n'
           '    httplib_response = self._make_request(\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 398, in '
           '_make_request\n'
           '    conn.request(method, url, **httplib_request_kw)\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connection.py", line 239, in '
           'request\n'
           '    super(HTTPConnection, self).request(method, url, body=body, headers=headers)\n'
           'File "/usr/local/lib/python3.9/http/client.py", line 1285, in request\n'
           '    self._send_request(method, url, body, headers, encode_chunked)\n'
           'File "/usr/local/lib/python3.9/http/client.py", line 1331, in _send_request\n'
           '    self.endheaders(body, encode_chunked=encode_chunked)\n'
           'File "/usr/local/lib/python3.9/http/client.py", line 1280, in endheaders\n'
           '    self._send_output(message_body, encode_chunked=encode_chunked)\n'
           'File "/usr/local/lib/python3.9/http/client.py", line 1040, in _send_output\n'
           '    self.send(msg)\n'
           'File "/usr/local/lib/python3.9/http/client.py", line 980, in send\n'
           '    self.connect()\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connection.py", line 205, in '
           'connect\n'
           '    conn = self._new_conn()\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connection.py", line 186, in '
           '_new_conn\n'
           '    raise NewConnectionError(\n'
           '\n'
           'NewConnectionError: <urllib3.connection.HTTPConnection object at 0x7fb9c1eb6400>: Failed to establish a new connection: [Errno 111] '
           'Connection refused\n'
           '\n'
           'While handling the above exception, another exception occurred:\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/requests/adapters.py", line 440, in '
           'send\n'
           '    395  def send(self, request, stream=False, timeout=None, verify=True, cert=None, proxies=None):\n'
           ' (...)\n'
           '    436          timeout = TimeoutSauce(connect=timeout, read=timeout)\n'
           '    437  \n'
           '    438      try:\n'
           '    439          if not chunked:\n'
           '--> 440              resp = conn.urlopen(\n'
           '    441                  method=request.method,\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 813, in '
           'urlopen\n'
           '    522  def urlopen(\n'
           '    523      self,\n'
           '    524      method,\n'
           '    525      url,\n'
           '    526      body=None,\n'
           '    527      headers=None,\n'
           '    528      retries=None,\n'
           '    529      redirect=True,\n'
           '    530      assert_same_host=True,\n'
           '    531      timeout=_Default,\n'
           '    532      pool_timeout=None,\n'
           '    533      release_conn=None,\n'
           '    534      chunked=False,\n'
           '    535      body_pos=None,\n'
           '    536      **response_kw\n'
           '    537  ):\n'
           ' (...)\n'
           '    809          # Try again\n'
           '    810          log.warning(\n'
           '    811              "Retrying (%r) after connection broken by \'%r\': %s", retries, err, url\n'
           '    812          )\n'
           '--> 813          return self.urlopen(\n'
           '    814              method,\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 813, in '
           'urlopen\n'
           '    522  def urlopen(\n'
           '    523      self,\n'
           '    524      method,\n'
           '    525      url,\n'
           '    526      body=None,\n'
           '    527      headers=None,\n'
           '    528      retries=None,\n'
           '    529      redirect=True,\n'
           '    530      assert_same_host=True,\n'
           '    531      timeout=_Default,\n'
           '    532      pool_timeout=None,\n'
           '    533      release_conn=None,\n'
           '    534      chunked=False,\n'
           '    535      body_pos=None,\n'
           '    536      **response_kw\n'
           '    537  ):\n'
           ' (...)\n'
           '    809          # Try again\n'
           '    810          log.warning(\n'
           '    811              "Retrying (%r) after connection broken by \'%r\': %s", retries, err, url\n'
           '    812          )\n'
           '--> 813          return self.urlopen(\n'
           '    814              method,\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 813, in '
           'urlopen\n'
           '    522  def urlopen(\n'
           '    523      self,\n'
           '    524      method,\n'
           '    525      url,\n'
           '    526      body=None,\n'
           '    527      headers=None,\n'
           '    528      retries=None,\n'
           '    529      redirect=True,\n'
           '    530      assert_same_host=True,\n'
           '    531      timeout=_Default,\n'
           '    532      pool_timeout=None,\n'
           '    533      release_conn=None,\n'
           '    534      chunked=False,\n'
           '    535      body_pos=None,\n'
           '    536      **response_kw\n'
           '    537  ):\n'
           ' (...)\n'
           '    809          # Try again\n'
           '    810          log.warning(\n'
           '    811              "Retrying (%r) after connection broken by \'%r\': %s", retries, err, url\n'
           '    812          )\n'
           '--> 813          return self.urlopen(\n'
           '    814              method,\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 785, in '
           'urlopen\n'
           '    522  def urlopen(\n'
           '    523      self,\n'
           '    524      method,\n'
           '    525      url,\n'
           '    526      body=None,\n'
           '    527      headers=None,\n'
           '    528      retries=None,\n'
           '    529      redirect=True,\n'
           '    530      assert_same_host=True,\n'
           '    531      timeout=_Default,\n'
           '    532      pool_timeout=None,\n'
           '    533      release_conn=None,\n'
           '    534      chunked=False,\n'
           '    535      body_pos=None,\n'
           '    536      **response_kw\n'
           '    537  ):\n'
           ' (...)\n'
           '    781              e = ProxyError("Cannot connect to proxy.", e)\n'
           '    782          elif isinstance(e, (SocketError, HTTPException)):\n'
           '    783              e = ProtocolError("Connection aborted.", e)\n'
           '    784  \n'
           '--> 785          retries = retries.increment(\n'
           '    786              method, url, error=e, _pool=self, _stacktrace=sys.exc_info()[2]\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/util/retry.py", line 592, in '
           'increment\n'
           '    504  def increment(\n'
           '    505      self,\n'
           '    506      method=None,\n'
           '    507      url=None,\n'
           '    508      response=None,\n'
           '    509      error=None,\n'
           '    510      _pool=None,\n'
           '    511      _stacktrace=None,\n'
           '    512  ):\n'
           ' (...)\n'
           '    588          history=history,\n'
           '    589      )\n'
           '    590  \n'
           '    591      if new_retry.is_exhausted():\n'
           '--> 592          raise MaxRetryError(_pool, url, error or ResponseError(cause))\n'
           '    593  \n'
           '\n'
           '---- (full traceback above) ----\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/requests/adapters.py", line 440, in '
           'send\n'
           '    resp = conn.urlopen(\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 813, in '
           'urlopen\n'
           '    return self.urlopen(\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 813, in '
           'urlopen\n'
           '    return self.urlopen(\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 813, in '
           'urlopen\n'
           '    return self.urlopen(\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/connectionpool.py", line 785, in '
           'urlopen\n'
           '    retries = retries.increment(\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/urllib3/util/retry.py", line 592, in '
           'increment\n'
           '    raise MaxRetryError(_pool, url, error or ResponseError(cause))\n'
           '\n'
           "MaxRetryError: HTTPConnectionPool(host='localhost', port=8080): Max retries exceeded with url: /config (Caused by "
           "NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fb9c1eb6400>: Failed to establish a new connection: [Errno 111] "
           "Connection refused'))\n"
           '\n'
           'While handling the above exception, another exception occurred:\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/cli/ingest_cli.py", line 77, in '
           'run\n'
           '    67   def run(config: str, dry_run: bool, preview: bool, strict_warnings: bool) -> None:\n'
           ' (...)\n'
           '    73       pipeline_config = load_config_file(config_file)\n'
           '    74   \n'
           '    75       try:\n'
           '    76           logger.debug(f"Using config: {pipeline_config}")\n'
           '--> 77           pipeline = Pipeline.create(pipeline_config, dry_run, preview)\n'
           '    78       except ValidationError as e:\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/ingestion/run/pipeline.py", line '
           '175, in create\n'
           '    171  def create(\n'
           '    172      cls, config_dict: dict, dry_run: bool = False, preview_mode: bool = False\n'
           '    173  ) -> "Pipeline":\n'
           '    174      config = PipelineConfig.parse_obj(config_dict)\n'
           '--> 175      return cls(config, dry_run=dry_run, preview_mode=preview_mode)\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/ingestion/run/pipeline.py", line '
           '111, in __init__\n'
           '    105  def __init__(\n'
           '    106      self, config: PipelineConfig, dry_run: bool = False, preview_mode: bool = False\n'
           '    107  ):\n'
           '    108      self.config = config\n'
           '    109      self.dry_run = dry_run\n'
           '    110      self.preview_mode = preview_mode\n'
           '--> 111      self.ctx = PipelineContext(\n'
           '    112          run_id=self.config.run_id,\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/ingestion/api/common.py", line '
           '41, in __init__\n'
           '    32   def __init__(\n'
           '    33       self,\n'
           '    34       run_id: str,\n'
           '    35       datahub_api: Optional[DatahubClientConfig] = None,\n'
           '    36       pipeline_name: Optional[str] = None,\n'
           '    37       dry_run: bool = False,\n'
           '    38       preview_mode: bool = False,\n'
           '    39   ) -> None:\n'
           '    40       self.run_id = run_id\n'
           '--> 41       self.graph = DataHubGraph(datahub_api) if datahub_api is not None else None\n'
           '    42       self.pipeline_name = pipeline_name\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/ingestion/graph/client.py", line '
           '49, in __init__\n'
           '    37   def __init__(self, config: DatahubClientConfig) -> None:\n'
           ' (...)\n'
           '    45           retry_max_times=self.config.retry_max_times,\n'
           '    46           extra_headers=self.config.extra_headers,\n'
           '    47           ca_certificate_path=self.config.ca_certificate_path,\n'
           '    48       )\n'
           '--> 49       self.test_connection()\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/emitter/rest_emitter.py", line '
           '131, in test_connection\n'
           '    130  def test_connection(self) -> None:\n'
           '--> 131      response = self._session.get(f"{self._gms_server}/config")\n'
           '    132      if response.status_code == 200:\n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/requests/sessions.py", line 542, in get\n'
           '    533  def get(self, url, **kwargs):\n'
           ' (...)\n'
           '    538      :rtype: requests.Response\n'
           '    539      """\n'
           '    540  \n'
           "    541      kwargs.setdefault('allow_redirects', True)\n"
           "--> 542      return self.request('GET', url, **kwargs)\n"
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/requests/sessions.py", line 529, in '
           'request\n'
           '    457  def request(self, method, url,\n'
           '    458          params=None, data=None, headers=None, cookies=None, files=None,\n'
           '    459          auth=None, timeout=None, allow_redirects=True, proxies=None,\n'
           '    460          hooks=None, stream=None, verify=None, cert=None, json=None):\n'
           ' (...)\n'
           "    525          'timeout': timeout,\n"
           "    526          'allow_redirects': allow_redirects,\n"
           '    527      }\n'
           '    528      send_kwargs.update(settings)\n'
           '--> 529      resp = self.send(prep, **send_kwargs)\n'
           '    530  \n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/requests/sessions.py", line 645, in '
           'send\n'
           '    613  def send(self, request, **kwargs):\n'
           ' (...)\n'
           '    641      # Start time (approximately) of the request\n'
           '    642      start = preferred_clock()\n'
           '    643  \n'
           '    644      # Send the request\n'
           '--> 645      r = adapter.send(request, **kwargs)\n'
           '    646  \n'
           '\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/requests/adapters.py", line 519, in '
           'send\n'
           '    395  def send(self, request, stream=False, timeout=None, verify=True, cert=None, proxies=None):\n'
           ' (...)\n'
           '    515          if isinstance(e.reason, _SSLError):\n'
           '    516              # This branch is for urllib3 v1.22 and later.\n'
           '    517              raise SSLError(e, request=request)\n'
           '    518  \n'
           '--> 519          raise ConnectionError(e, request=request)\n'
           '    520  \n'
           '\n'
           '---- (full traceback above) ----\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/cli/ingest_cli.py", line 77, in '
           'run\n'
           '    pipeline = Pipeline.create(pipeline_config, dry_run, preview)\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/ingestion/run/pipeline.py", line '
           '175, in create\n'
           '    return cls(config, dry_run=dry_run, preview_mode=preview_mode)\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/ingestion/run/pipeline.py", line '
           '111, in __init__\n'
           '    self.ctx = PipelineContext(\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/ingestion/api/common.py", line '
           '41, in __init__\n'
           '    self.graph = DataHubGraph(datahub_api) if datahub_api is not None else None\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/ingestion/graph/client.py", line '
           '49, in __init__\n'
           '    self.test_connection()\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/datahub/emitter/rest_emitter.py", line '
           '131, in test_connection\n'
           '    response = self._session.get(f"{self._gms_server}/config")\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/requests/sessions.py", line 542, in get\n'
           "    return self.request('GET', url, **kwargs)\n"
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/requests/sessions.py", line 529, in '
           'request\n'
           '    resp = self.send(prep, **send_kwargs)\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/requests/sessions.py", line 645, in '
           'send\n'
           '    r = adapter.send(request, **kwargs)\n'
           'File "/tmp/datahub/ingest/venv-7109c1b5-e1c8-4ba5-9580-ee26105215b6/lib/python3.9/site-packages/requests/adapters.py", line 519, in '
           'send\n'
           '    raise ConnectionError(e, request=request)\n'
           '\n'
           "ConnectionError: HTTPConnectionPool(host='localhost', port=8080): Max retries exceeded with url: /config (Caused by "
           "NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fb9c1eb6400>: Failed to establish a new connection: [Errno 111] "
           "Connection refused'))\n",
           "2022-02-23 14:00:26.839754 [exec_id=7109c1b5-e1c8-4ba5-9580-ee26105215b6] INFO: Failed to execute 'datahub ingest'",
           '2022-02-23 14:00:26.840272 [exec_id=7109c1b5-e1c8-4ba5-9580-ee26105215b6] INFO: Caught exception EXECUTING '
           'task_id=7109c1b5-e1c8-4ba5-9580-ee26105215b6, name=RUN_INGEST, stacktrace=Traceback (most recent call last):\n'
           '  File "/usr/local/lib/python3.9/site-packages/acryl/executor/execution/default_executor.py", line 119, in execute_task\n'
           '    self.event_loop.run_until_complete(task_future)\n'
           '  File "/usr/local/lib/python3.9/site-packages/nest_asyncio.py", line 81, in run_until_complete\n'
           '    return f.result()\n'
           '  File "/usr/local/lib/python3.9/asyncio/futures.py", line 201, in result\n'
           '    raise self._exception\n'
           '  File "/usr/local/lib/python3.9/asyncio/tasks.py", line 256, in __step\n'
           '    result = coro.send(None)\n'
           '  File "/usr/local/lib/python3.9/site-packages/acryl/executor/execution/sub_process_ingestion_task.py", line 115, in execute\n'
           '    raise TaskError("Failed to execute \'datahub ingest\'")\n'
           "acryl.executor.execution.task.TaskError: Failed to execute 'datahub ingest'\n"]}
Execution finished with errors.